Wrapper/**/*.dsk
Wrapper/**/__history/**
Wrapper/**/dcu/**
Wrapper/**/bin/**
Wrapper/**/*.~dsk
Wrapper/**/*.local
Wrapper/**/*.identcache

/Library/bin/**
/Library/obj/**
/Library/lib/**
/Library/include/**/meson.build
/Library/include/**/CoreFeatures.h.cmake

/Importer/libosmscout-importer-win64.zip

**/.idea/**
**/build/**
.libosmscout
